<ion-view view-title="Kontakt">
  <ion-content>
    <div class="list card">
      <div class="item item-image">
        <img src="../img/team.jpeg">
      </div>
    </div>
    <ul class="list">
      <li class="item">
        <span><i class="icon ion-ios-location"></i> <a href="geo:52.722927,8.258524"> Alter Flugplatz 18 49377 Vechta Niedersachsen Deutschland</a></span>
      </li>
      <!--li class="item">
        <span><i class="icon ion-ios-location"></i> <a href="geo:52.722927,8.258524">49377 Vechta Niedersachsen Deutschland</a></span>
      </li-->
      <li class="item">
        <span><i class="icon ion-android-call"></i>  <a class="" href="tel:+49(0)4441-8207969">0049(0)4441-8207969</a></span>
      </li>
      <li class="item">
        <span><i class="icon ion-android-print"></i> 0049 - (0)4441-8207968</span>
      </li>
      <li class="item">
        <span><i class="icon ion-iphone"></i> <a class="" href="tel:+49(0)171-4862460">0049(0)171-4862460</a></span>
      </li>
    </ul>
  </ion-content>
</ion-view>
