<ion-view view-title="Home">

  <ion-content>
    <h1 class="title padding">Herzlich Willkommen</h1>

    <div class="list borderless-card">
      <div class="item item-image">
        <img src="http://www.top-moto.de/images/bgd.jpg">
      </div>
    </div>

    <h3 class="title padding">Features Set 1</h3>

    <ul class="list-borderless">
      <li class="item-borderless">
        <div class="row">
          <div class="col">
            <span class="item-icon round">
              <i class="icon ion-beer"></i>
            </span>
          </div>
          <div class="col col-80">.col.col-80</div>
        </div>
      </li>
      <li class="item-borderless">
        <div class="row">
          <div class="col">
            <span class="item-icon round">
              <i class="icon ion-map"></i>
            </span>
          </div>
          <div class="col col-80">.col.col-80</div>
        </div>
      </li>
      <li class="item-borderless">
        <div class="row">
          <div class="col">
            <span class="item-icon round">
              <i class="icon ion-compass"></i>
            </span>
          </div>
          <div class="col col-80">.col.col-80</div>
        </div>
      </li>
    </ul>

  </ion-content>
</ion-view>
