<ion-view view-title="Home">

  <ion-content>

    <div class="row responsive-sm">
      <div class="col text-center">
        <h1 class="title padding">Herzlich Willkommen</h1>
      </div>
    </div>
    <div class="list borderless-card">
      <div class="item item-image">
        <img src="../img/Topmoto_Logo_png/Topmoto_Logo_v1.png">
      </div>
    </div>

    <div class="row responsive-sm">
      <div class="col text-center">
        <h3 class="title padding">Top Gebrauchte / Verkauf von Motorrädern</h3>
      </div>
    </div>
    <ul class="list-borderless">
      <li class="item-borderless">
        <div class="row">
          <div class="col">
            <span class="item-icon round">
              <i class="icon ion-gear-b"></i>
            </span>
          </div>
          <div class="col col-90">immer eine große Auswahl an Top gebrauchten Motorrädern</div>
        </div>
      </li>
      <li class="item-borderless">
        <div class="row">
          <div class="col">
            <span class="item-icon round">
              <i class="icon ion-wrench"></i>
            </span>
          </div>
          <div class="col col-90">Neufahrzeuge aller Fabrikate auf Wunsch</div>
        </div>
      </li>
      <li class="item-borderless">
        <div class="row">
          <div class="col">
            <span class="item-icon round">
              <i class="icon ion-compass"></i>
            </span>
          </div>
          <div class="col col-90">Inzahlungnahme &amp; Finanzierung möglich</div>
        </div>
      </li>
    </ul>

  </ion-content>
</ion-view>
