<ion-view view-title="Motorräder">
  <ion-content>
    <div class="list">

      <div class="row moto-row" ng-repeat="item in motorcycles">

        <a href="#/app/motorcycles/{{item.id}}" class="moto-link">
        </a>
        <div class="col col-25"
           style="height:80px; background: url({{ item.image }}) no-repeat; background-size:cover;">
        </div>

        <div class="col col-75 col-white"><h3 class="moto-name">{{ item.name }}</h3></div>

      </div>
  </ion-content>
</ion-view>
