<ion-view view-title="Search">
  <ion-content>

    <form action="#/app/motorcycles" method="post" enctype="application/x-www-form-urlencoded">
    <div class="list">
    <label class="item item-input">
      <input type="text" placeholder="name">
    </label>
    <label class="item item-input">
      <input type="text" placeholder="brand">
    </label>
    <div class="padding">
    <button type="submit" class="button button-block button-positive">
      Suchen
    </button>
  </div>
  </div>
</form>
  </ion-content>
</ion-view>
